body {
    /* background-image: url('/assets/blue_background.jpeg'); */
    background-image: url('/assets/bedroom.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* Optional: Keeps the background fixed when scrolling */
}

.rand_num_wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
}


.btn-1,
.btn-1 *,
.btn-1 :after,
.btn-1 :before,
.btn-1:after,
.btn-1:before {
    border: 0 solid;
    box-sizing: border-box;
}

.btn-1 {
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: button;
    background-color: #000;
    background-image: none;
    color: #fff;
    cursor: pointer;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
        Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
        Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 100%;
    font-weight: 9000;
    line-height: 1.0;
    margin: 0;
    -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
    padding: 0px;
    text-transform: uppercase;
}

.btn-1:disabled {
    cursor: default;
}

.btn-1:-moz-focusring {
    outline: auto;
}

.btn-1 svg {
    display: block;
    vertical-align: middle;
}

.btn-1 [hidden] {
    display: none;
}

.btn-1 {
    border-radius: 99rem;
    border-width: 2.5px;
    padding: 0.8rem 3rem;
}

.btn-1:hover {
    color: #999;
}